/* Google Font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    background: linear-gradient(135deg,
            #08131f,
            #0f172a,
            #111827,
            #0a0f1c);

    background-size: 400% 400%;

    animation: bgAnimation 15s ease infinite;

    color: white;

    overflow-x: hidden;

}



a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

/* ===========================
        LOADING SCREEN
=========================== */

#loader {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: #08131f;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 99999;

    transition: opacity .8s ease, visibility .8s ease;

}

.loader-content {

    text-align: center;

}

.loader-content h1 {

    font-size: 55px;

    margin-bottom: 20px;

}

.loader-content p {

    color: #9ca3af;

    margin-bottom: 25px;

    font-size: 18px;

}

.progress-bar {

    width: 320px;

    height: 12px;

    background: #1f2937;

    border-radius: 30px;

    overflow: hidden;

}

.progress {

    width: 0%;

    height: 100%;

    background: #22c55e;

    animation: loading 2.5s linear forwards;

}

@keyframes loading {

    from {

        width: 0%;

    }

    to {

        width: 100%;

    }

}

.loader-hide {

    opacity: 0;

    visibility: hidden;

}

.logo i {
    color: #d946ef;
}

.login-btn {
    background: #d946ef;
    color: #fff;
}

.login-btn:hover {
    background: #c026d3;
    box-shadow: 0 0 20px rgba(217, 70, 239, 0.35);
}

.nav-links a:hover,
.nav-links a.active {
    color: #d946ef;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;

    background: #0b0b0b;

    color: white;

}

/* Hero */

.hero {
    min-height: 75vh;

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 100px 10%;

    background:
        linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .75)),
        url("../images/gta-vice-city-bg.jpg");

    background-size: cover;

    background-position: center;

    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero-content {
    width: 85%;
    max-width: 1200px;
    margin: auto;
}

.hero h1 {

    font-size: 65px;

    text-transform: uppercase;

    letter-spacing: 2px;

}

.hero h2 {

    font-size: 90px;

    color: #ff4fd8;

    margin: 10px 0 20px;

}

.hero p {

    font-size: 22px;

    line-height: 1.7;

    color: #ddd;

    margin-bottom: 35px;

}

.play-btn {

    background: #ff4fd8;

    color: white;

    border: none;

    padding: 18px 45px;

    font-size: 20px;

    border-radius: 50px;

    cursor: pointer;

    transition: .3s;

}

.play-btn:hover {

    transform: translateY(-5px);

    box-shadow: 0 0 25px #ff4fd8;

}

/* Launcher */

.launcher {

    padding: 100px 20px;

    display: flex;

    flex-direction: column;

    align-items: center;

    background: #111;

}

.launcher h2 {

    font-size: 60px;

    margin-bottom: 40px;

    color: #ffffff;

}

.launcher-box {

    width: 100%;
    max-width: 650px;

    background: #1b1b1b;

    padding: 40px;

    border-radius: 20px;

    border: 1px solid rgba(255, 255, 255, .08);

    display: flex;

    flex-direction: column;

    gap: 20px;

}

.launcher-btn {

    height: 70px;

    border: none;

    border-radius: 12px;

    font-size: 22px;

    font-weight: 600;

    cursor: pointer;

    background: linear-gradient(180deg, #53657a, #394452);

    color: white;

    transition: .3s;

}

.launcher-btn:hover {

    transform: translateY(-3px);

    box-shadow: 0 0 20px rgba(255, 79, 216, .35);

}

.play-game {

    background: linear-gradient(180deg, #ff4fd8, #d62fb2);

}


/* Game Screen */

.game-screen {

    padding: 80px 5%;

    background: #0b0b0b;

}

.game-header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 25px;

    flex-wrap: wrap;

    gap: 15px;

}

.game-header h2 {

    font-size: 40px;

}

.game-actions button {

    background: #ff4fd8;

    color: #fff;

    border: none;

    padding: 12px 24px;

    border-radius: 10px;

    cursor: pointer;

    font-size: 17px;

}

.game-container {
    width: 85%;
    max-width: 1200px;
    height: 675px;
    margin: 30px auto;
    border-radius: 15px;
    overflow: hidden;

    aspect-ratio: 16/9;

    background: #111;

    border: 2px solid rgba(255, 255, 255, .08);

    border-radius: 20px;

    display: flex;

    justify-content: center;

    align-items: center;

}

.game-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}


.placeholder {

    text-align: center;

    color: #aaa;

}

.placeholder i {

    font-size: 90px;

    margin-bottom: 25px;

    color: #ff4fd8;

}

.placeholder h2 {

    margin-bottom: 15px;

}

.placeholder p {

    font-size: 18px;

}

.loader {

    width: 80%;

    text-align: center;

}

.progress {

    width: 100%;

    height: 18px;

    background: #222;

    border-radius: 20px;

    overflow: hidden;

    margin: 30px 0;

}

.progress-bar {

    width: 0%;

    height: 100%;

    background: #ff4fd8;

    transition: .04s;

}

.loader h2 {

    margin-bottom: 20px;

}

.loader p {

    color: #bbb;

}


.game-ready i {

    font-size: 80px;

    color: #00ff88;

    margin-bottom: 20px;

}

.game-ready h2 {

    margin-bottom: 15px;

}


.game-ready h1 {

    color: #ff4fd8;

    font-size: 55px;

    margin-bottom: 15px;

}

.launcher-screen {

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100vh;

    background: #090909;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    z-index: 9999;

    opacity: 0;

    pointer-events: none;

    transition: .4s;

}

.launcher-screen.active {

    opacity: 1;

    pointer-events: all;

}

.launcher-logo {

    width: 140px;

    margin-bottom: 30px;

}

.loader {

    width: 320px;

    height: 10px;

    background: #2b2b2b;

    border-radius: 20px;

    overflow: hidden;

    margin: 20px 0;

}

.loader-bar {

    height: 100%;

    width: 0;

    background: #00e5ff;

    animation: load 2.5s linear forwards;

}

/* =========================================
   GAME CONTAINER
========================================= */

.game-container {

    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;

}

.game-container.show {

    display: block;

}

#gameFrame {

    width: 100%;
    height: 100%;
    border: none;
    background: #000;

}

/* =========================================
   FULLSCREEN BUTTON
========================================= */

.fullscreen-btn {

    position: absolute;

    top: 20px;
    right: 20px;

    z-index: 99999;

    padding: 12px 22px;

    border: none;
    border-radius: 12px;

    background: rgba(0, 0, 0, .75);

    color: #fff;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: .3s;

    backdrop-filter: blur(12px);

    display: flex;
    align-items: center;
    gap: 10px;

}

.fullscreen-btn:hover {

    background: #22c55e;

    transform: translateY(-3px);

    box-shadow: 0 0 20px rgba(34, 197, 94, .45);

}

/* =========================================
   FULLSCREEN MODE
========================================= */

.game-container:fullscreen {

    width: 100vw;
    height: 100vh;
    background: #000;

}

.game-container:fullscreen #gameFrame {

    width: 100%;
    height: 100%;

}

.game-container:fullscreen .fullscreen-btn {

    top: 15px;
    right: 15px;

}

/* Chrome */

.game-container:-webkit-full-screen {

    width: 100vw;
    height: 100vh;

}

/* ================================
   GAME OVERLAY
================================ */

#gameOverlay {

    position: fixed;

    inset: 0;

    background: #000;

    display: none;

    z-index: 999999;

}

#gameOverlay.active {

    display: block;

}

#gameFrame {

    width: 100%;

    height: 100%;

    border: none;

    background: #000;

}

/* ================================
   TOOLBAR
================================ */

.game-menu {
    position: absolute;
    top: 18px;
    left: 18px;

    width: fit-content;
    height: fit-content;

    display: inline-block;

    z-index: 999999;
}

#gameMenuBtn {

    width: 48px;
    height: 48px;

    border: none;
    outline: none;

    background: transparent;
    color: #fff;

    font-size: 24px;

    cursor: pointer;

    transition: .25s;
}

#gameMenuBtn:hover {

    background: transparent;

    transform: scale(1.1);
}

.game-menu-panel {

    margin-top: 10px;

    display: none;

    flex-direction: column;

    gap: 10px;
}

.game-menu.open .game-menu-panel {

    display: flex;
}

.game-menu-panel button {

    min-width: 170px;

    border: none;

    border-radius: 12px;

    padding: 12px 16px;

    background: rgba(0, 0, 0, .82);

    color: #fff;

    display: flex;

    align-items: center;

    gap: 12px;

    cursor: pointer;

    transition: .25s;
}

.game-menu-panel button:hover {

    background: #22c55e;
}

/* ===================================
   CLICK TO START
=================================== */

#clickToPlay {

    display: none !important;
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, .45);
    backdrop-filter: blur(4px);

    z-index: 1000;
}

#clickToPlay.hide {

    opacity: 0;

    visibility: hidden;

    pointer-events: none;

}

.click-box {

    text-align: center;

    color: white;

    animation: pulse 1.8s infinite;

}

.click-box i {

    font-size: 70px;

    margin-bottom: 18px;

    color: #22c55e;

}

.click-box h2 {

    font-size: 34px;

    margin-bottom: 12px;

}

.click-box p {

    font-size: 17px;

    opacity: .9;

}

@keyframes pulse {

    0% {

        transform: scale(1);

    }

    50% {

        transform: scale(1.05);

    }

    100% {

        transform: scale(1);

    }

}

/* Mobile */

@media(max-width:768px) {

    .fullscreen-btn {

        top: 12px;
        right: 12px;

        padding: 10px 16px;

        font-size: 14px;

    }

}

@keyframes load {

    100% {

        width: 100%;

    }

}

@media (max-width:769px) {

    .navbar {
        width: 95%;
        padding: 0 20px;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
    }

    .search-box {
        display: none;
    }

    .nav-right {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .menu-toggle {
        display: flex;
    }

}

@media (max-width:426px) {

    .hero {
        padding: 120px 20px 70px;
    }

    .hero h1 {
        font-size: 42px;
        line-height: 1.1;
    }

    .hero h2 {
        font-size: 56px;
        line-height: 1;
        margin-top: 10px;
    }

    .hero p {
        font-size: 16px;
    }

    .play-btn {
        width: 100%;
    }
}



@media (max-width:375px) {

    .hero {
        padding: 115px 18px 60px;
    }

    .hero h1 {
        font-size: 34px;
        line-height: 1.1;
        letter-spacing: 1px;
    }

    .hero h2 {
        font-size: 48px;
        line-height: 1;
    }

    .hero p {
        font-size: 15px;
    }

    .logo h2 {
        font-size: 18px;
    }

    .login-btn {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

}